/* styles */
//import fonts
//@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap'); // change breakpoints here
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Sacramento-Regular.ttf") format('truetype'),;
}
// https://mdbootstrap.com/docs/jquery/layout/media-queries/
/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);*/
// change bootstrap default variables here
$primary-color: #4c45b3; //
// include the required bootstrap files again in order to use the default breakpoints. this does not generate css by itself
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

:root {
  // define global css variables here
}
@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: lightgrey;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #000; // while stuff is loading
}
// full height

.full-page-intro,
header {
  height: 100vh;
}
// fix negative margin of the row class from bootstrap or mdbootstrap

.row {
  margin: 0 !important;
}

header {
  .full-page-intro {
    &.parallax-video-container {}
    overflow: hidden;

    &__mask {
      $mask-bg-color: #000; // you can tint the bg here
      background-color: rgba($mask-bg-color, .3);
    }

    .parallax-video {
      z-index: -1;
      position: fixed;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(1);
    }

    .background-below {
      background-color: #000;
      position: absolute;
      z-index: 2;
      top: 50vh;
      width: 100%;
      height: 100%;
    }

    .hr-light {
      // hr = horizontal rule
      border-top: 3px solid #fff;
      width: 80px;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .below-quote,
    .main-quote span {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    .main-quote {
      font-size: 3.3rem;
      @include media-breakpoint-up(lg) {
        line-height: 0.9;
        font-size: 5rem;
      }

      &__creativity {
        animation-delay: 0.5s;
        position: relative;
        top: 1rem;
        @include media-breakpoint-up(lg) {
          top: 0;
          font-size: 8rem;
        }
        font-family: 'Sacramento', cursive;
      }

      &__intelligence {
        animation-delay: 1s;
        text-transform: uppercase;
        position: relative;
        font-size: 1.8rem;
        @include media-breakpoint-up(lg) {
          left: -3.5rem;
          top: -1.5rem;
          font-size: 3.5rem;
        }
      }

      &__fun {
        font-weight: bold;
        animation-delay: 1.5s;
        text-transform: uppercase;
      }
    }

    .below-quote {
      animation-delay: 2.5s;
      animation-duration: 2s;

      .cta-button {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;

        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
    }
  }

  .navbar {
    $navbar-bg-color: $primary-color;

    &.top-nav-collapse {
      background-color: $navbar-bg-color;
    }

    &:not(.top-nav-collapse) {
      background-color: $navbar-bg-color;
      @include media-breakpoint-up(lg) {
        background: transparent;
      }
    }
    // active navbar item style for scrollspy
    .nav-item > .nav-link.active {
      background-color: rgba(255,255,255,0.1);
    }
    @include media-breakpoint-up(lg) {
      .nav-item:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

.section-wrapper {
  background-color: transparent;

  .main-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

#about {
  background-color: #fff;

  .section-container--about {
    background-color: #fff;

    img {
      width: 100%;
      max-width: 28rem;
      @include media-breakpoint-up(lg) {
        max-width: 60rem;
      }
    }

    .swiper-container {
      .swiper-scrollbar {
        display: none;
      }
      //overflow: visible;
      .swiper-pagination-bullets {
        //bottom: 1rem;
        .swiper-pagination-bullet-active {
          background-color: #fff; //lighten($primary-color,10%);
        }
      }

      .swiper-button {
        &-next,
        &-prev {
          color: #fff; //lighten($primary-color,10%);
        }
        @include media-breakpoint-up(lg) {
          &-next {
            right: 2rem;
          }

          &-prev {
            left: 2rem;
          }
        }

        &-disabled {
          display: none;
        }
      }

      .swiper-wrapper {
        .swiper-slide {
          width: 600px;
          height: 300px;
          width: 100%;
          height: auto;
          max-height: 70vh; //30rem;
          border-radius: 1rem;
          background-color: transparent;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

#quote {
  background-color: $primary-color;

  .section-container--quote {
    .quote-text {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      // https://codepen.io/sedran/pen/GYPevV
      $reveal-color-1: $primary-color; //#D8D8D8;
      $reveal-color-2: #fff;

      span {
        position: relative;
        overflow: hidden;
        display: block;
        opacity: 0;
      }

      &--animation span {
        opacity: 1;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: $reveal-color-2;
          animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
          transform: translateX(-101%);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: $reveal-color-1;
          animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
          transform: translateX(0);
        }

        &:nth-of-type(1) {
          &::after,
          &::before {
            animation-delay: 0s;
          }
        }

        &:nth-of-type(2) {
          &::after,
          &::before {
            animation-delay: 0.5s;
          }
        }
      }
    }
  }
}
@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
  }
}

#projects {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media-breakpoint-up(lg) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-container--projects {
    .view img {
      min-height: 15rem;
      object-fit: cover;
    }
  }
}
// breakpoint example
@include media-breakpoint-up(sm) {}

#video {
  background-color: #fff;

  .section-container--video {
    #player {
      max-width: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 195px;
      @include media-breakpoint-up(md) {
        width: 640px;
        height: 360px;
      }
      @include media-breakpoint-up(xl) {
        width: 1024px;
        height: 576px;
      }
    }
  }
}

#contact {
  background-color: #fff;

  #map {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  .submit-spinner {
    display: none; // don't add important here or we cant manipulate it with jQuery hide/show
  }
}

footer {
  .fa-heart {
    &:hover {
      transform: scale(1.4);
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}
// utility classes

.scroll-down-arrow {
  position: absolute;
  bottom: 10px;
  @include media-breakpoint-up(md) {
    bottom: 30px;
  }
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 3;
  animation: bounceSoft 2s infinite 2s; // there is an existing "bounce" keyframe from bootstrap but it bounces to hard
  transition: all 0.2s ease-in;
  transform: scale(1);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-width: 0 0 2px 2px;
  }
}
@keyframes bounceSoft {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}